.bbody {
    background-color: gray;
  }
   
  .ccontainer {
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .ccard {
    text-align: center;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 70px 0 rgba(158, 16, 16, 0.2);
    position: relative;
    transition: 0.7s;
    overflow: hidden;
  }
  
  .card-item {
    background-color: rgb(181, 181, 204);
    color: rgb(201, 11, 52);
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
  }
  
  .card-item img {
    max-width: 80px;
  }
  
  .card-item h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
  
  .card-text {
    background-color: #fff;
    padding: 15px 10px;
    text-align: justify;
    position: absolute;
    /* left: -50000000000%; */
    visibility: hidden;
    opacity: 0;
    transition: 1s;
  }
  
  .card-text p {
    margin-bottom: 30px;
  }
  
  .card-text a {
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px 10px;
    color: black;
    transition: 0.4s;
  }
  
  .card-text a:hover {
    background-color: rgb(55, 56, 58);
    color: white;
  }
  
  .ccard:hover {
    height: 420px;
    overflow: visible;
  }
  
  .ccard:hover .card-item {
    background-color: #f60255;
    color: white;
    height: 210px;
  }
  
  .ccard:hover .card-text {
    height: 200px;
    left: 0;
    /* top: 40%; */
    bottom: 0;
    visibility: visible;
    opacity: 1;
  }
  